/* propriedades gerais */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: #000;
}

/* Header */

header {
    box-shadow: 0px 0px 12px #f2f2f2;
    position: static;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
}

.caixa {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin: 0 auto;
}


nav ul {
    margin: 10px;
    padding: 0px;
    width: fit-content;
}

nav li {
    display: inline-block;
    margin: 0 0 0 10px;
}

nav a {
    color: #000000;
    font-weight: 300;
    text-decoration: none;
}

.caixa li:hover {
    color: #000000;
    transform: scale(1.2);
    text-decoration: none;
}

header h1 {
    width: fit-content;
    margin: 0px;
    text-align: left;
}

/* Conteúdo da página - RESUMOS */

#containerconteudos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(248, 248, 248);
    margin: 30px;
}

.box {
    border-radius: 5%;
    width: 220px;
    margin: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(205, 205, 205);
}

.box p {
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
    color: #505050;
}

.box img {
    max-width: 100%;
    border-radius: 5% 5% 0% 0%;
    margin: 0px;

}

button {
    border: transparent;
    font-size: 16px;
    font-weight: 550;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 5px;

}

.botao {
    text-align: center;
    grid-template-columns: auto;
    border-top: 1px rgb(219, 219, 219) solid;
    padding: 3px;
    display: flex;
    justify-content: space-around
}

.botao button:hover {
    background-color: rgb(238, 238, 238);
}

/* Conteúdo da página - Linguagem */

/* sumário */
.sumario {
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgb(205, 205, 205);
}

.sumario h4 {
    text-align: center;
    text-transform: uppercase;
}

.sumario li {
    list-style: disc;
    color: #000;
    text-decoration: none;
}

/*conteúdo*/

.boxconteudo {
    background-color: #f2f2f2;
    margin: 30px;
    border-radius: 10px;
    padding: 30px;
}

.boxconteudo ul{
    list-style-type:decimal;
    margin: 0px;
}

/* tabela */

.boxconteudo table {
    background-color: #f9f9f9;
    box-shadow: 1px 1px 5px rgb(205, 205, 205);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 8px;
    width: 80%;
}

.boxconteudo th, td {
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 10px;
}

tr:hover {
    background-color: #f2f2f2;
}

/* caixa de código */
.codebox{
background-color: #33353b;
box-shadow: 1px 1px 5px rgb(205, 205, 205);
color: white;
padding: 10px;
margin: auto;
width: 50%;
border-radius: 10px;
}

pre { white-space: pre-wrap; }


.codebox .codetext{
    font-family: monospace;
    font-weight: 600;
}
/*  */
